// Sækja config
@import './config';


// Allir stílar fyrir bækur
.books {
  margin-bottom: $Bottom-margin-large;

  & .col{
    margin-bottom: $Bottom-margin-large;
  }
}

.book {
  margin-right: 1rem;
  margin-bottom: $Bottom-margin-large;
  width: 100%;
  height: 100%;
  min-width: 160px;

  display: flex;
  flex-direction: column;

  background-color: $Light-grey;

  & > .content {
    padding: 0.5rem;
    border: 1px solid $Dark-grey;
    border-top: 0;

    flex: 1;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  & .image {
    height: 200px;
    overflow: hidden;
  }

  & .image img {
    object-fit: cover;
    width: 100%;
    height: 200px;

    transition: $Smooth;
  }

  &:hover .image img {
    transform: $Zoom;
  }

  & h3{
    margin-bottom: $Bottom-margin-small;
    font-size: 1.5*$Default-font-size;
  }

  & h4{
    margin-bottom: $Bottom-margin-medium;
    font-size: 0.875*$Default-font-size;
    font-weight: normal;
    text-transform: uppercase;
  }

  & .buy {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  & .buy .price {
    margin-right: 0.5rem;
  }
}
