// Sækja config
@import './config';

// Allir stílar fyrir bækur
.books {
  margin-bottom: $bottom-margin-large;

  .col {
    margin-bottom: $bottom-margin-large;
  }
}

.book {
  background-color: $light-grey;
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-bottom: $bottom-margin-large;
  margin-right: 1rem;
  min-width: 160px;
  width: 100%;

  > .content {
    border: 1px solid $dark-grey;
    border-top: 0;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
    padding: 0.5rem;
  }

  .image {
    height: 200px;
    overflow: hidden;
  }

  .image img {
    height: 200px;
    object-fit: cover;
    transition: $smooth;
    width: 100%;
  }

  &:hover .image img {
    transform: $zoom;
  }

  h3 {
    font-size: 1.5*$default-font-size;
    margin-bottom: $bottom-margin-small;
  }

  h4 {
    font-size: 0.875*$default-font-size;
    font-weight: normal;
    margin-bottom: $bottom-margin-medium;
    text-transform: uppercase;
  }

  .buy {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }

  .buy .price {
    margin-right: 0.5rem;
  }
}
