// Hér eiga að vera stillingar með scss breytum fyrir:
// grid, max-width á síðu, transitions,
// liti, margin-bottom gildi sem eru sameiginleg

// Grid
$max-width: 1400px;
$medium-width: 799px;
$small-width: 499px;
$one-col: 8.333333333%;

// Global
$default-font-size: 16px; // Sniðugt að geta breytt þessu hér

// Litir
$white: #eee;
$light-grey: #ccc;
$dark-grey: #999;
$dark-dark-grey: #222;
$black: #000;

// Bottom margins
$bottom-margin-large: 2rem;
$bottom-margin-medium: 1rem;
$bottom-margin-small: 0.5rem;

// Transitions
$smooth: transform 300ms ease-in-out;
$zoom: scale(1.3);
$change-color: color 300ms ease-in-out;
$change-background-color: background-color 300ms ease-in-out;
$flip: rotateY(180deg);
