// Sækja config
@import 'styles/config';

// Allir stílar fyrir events
.events {
  margin-bottom: $bottom-margin-large;

  .col {
    margin-bottom: $bottom-margin-large;
  }
}

.event {
  background-color: $light-grey;
  height: 100%;
  min-height: 250px;
  position: relative;
  width: 100%;
  word-break: break-word;

  &:last-child {
    margin-right: 0;
  }

  h3 {
    margin-bottom: $bottom-margin-medium;
  }

  p {
    font-style: italic;
    margin-bottom: $bottom-margin-medium;
  }

  ul {
    font-style: italic;
    list-style: none;
  }

  .card {
    bottom: 0;
    display: flex;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transform-style: preserve-3d;
    transition: $smooth;
  }

  &:hover .card {
    transform: $flip;
  }

  .face {
    backface-visibility: hidden;
    height: 100%;
    padding: 0.5rem;
    position: absolute;
    width: 100%;
  }

  .face.back {
    transform: $flip;
  }

  .front {
    display: flex;
  }

  .front h3 {
    font-size: 2*$default-font-size;
    margin: auto;
    text-align: center;
  }

  .back {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
  }
}
