// Sækja config
@import 'styles/config';


// Allir stílar fyrir events
.events {
  margin-bottom: $Bottom-margin-large;

  & .col {
    margin-bottom: $Bottom-margin-large;
  }
}

.event {
  position: relative;

  width: 100%;
  height: 100%;
  min-height: 250px;

  background-color: $Light-grey;

  word-break: break-word;

  &:last-child {
    margin-right: 0;
  }

  & h3 {
    margin-bottom: $Bottom-margin-medium;
  }

  & p {
    margin-bottom: $Bottom-margin-medium;
    font-style: italic;
  }

  & ul {
    list-style: none;
    font-style: italic;
  }

  & .card {
    position: absolute;
    display: flex;
    left: 0; right: 0; top: 0; bottom: 0;
    transform-style: preserve-3d;
    transition: $Smooth;
  }

  &:hover .card {
    transform: $Flip;
  }

  & .face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    padding: 0.5rem;
  }

  & .face.back {
    transform: $Flip;
  }

  & .front {
    display: flex;
  }

  & .front h3 {
    margin: auto;
    font-size: 2*$Default-font-size;
    text-align: center;
  }

  & .back {
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
