// Sækja config
@import './config';

// Allir stílar fyrir "global", þ.e.a.s. type selectorar, reset etc
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  align-items: center;
  color: $dark-dark-grey;
  display: flex;
  flex-direction: column;
  font-family: 'Open Sans', helvetica, arial, sans-serif;
  font-size: $default-font-size;
  justify-content: center;
}

a {
  color: $dark-dark-grey;
}

button {
  background-color: $dark-dark-grey;
  border: 1px solid $black;
  border-radius: 5px;
  color: $white;
  padding: 0.5rem;
  transition:
    $change-color,
    $change-background-color;
  word-break: initial;

  &:hover {
    background-color: $White;
    color: $dark-dark-grey;
  }

  &:active {
    background-color: $dark-dark-grey;
    border: 1px solid $black;
    color: $white;
  }
}

h1,
h2,
h3,
h4 {
  font-family: 'Montaga', Georgia, serif;
}

main {
  padding-left: 10px;
  padding-right: 10px;
}
