// Sækja config
@import './config';


// Allir stílar fyrir "global", þ.e.a.s. type selectorar, reset etc
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  position: relative;

  &::before {
    content: '';

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    margin-right: auto;
    margin-left: auto;

    width: calc(100% - (2 * var(--offset)));
    max-width: var(--max_width);
    min-height: 100vh;
    background-image: var(--background-columns);
    background-size: var(--background-width) 100%;
    z-index: 1000;
    pointer-events: none;
  }
}

body {
  font-size: $Default-font-size;
  font-family: 'Open Sans', helvetica, arial, sans-serif;
  color: $Dark-dark-grey;
}

a {
  color: $Dark-dark-grey;
}

button {
  background-color: $Dark-dark-grey;
  color: $White;
  border: 1px solid $Black;
  border-radius: 5px;
  padding: 0.5rem;
  word-break: initial;

  transition:
    $Change-color,
    $Change-background-color ;
  &:hover {
    background-color: $White;
    color: $Dark-dark-grey;
  }
  &:active {
    background-color: $Dark-dark-grey;
    color: $White;
    border: 1px solid $Black;
  }
}

h1, h2, h3, h4 {
  font-family: 'Montaga', Georgia, serif;
}
