// Sækja config
@import './config';


// Allir stílar fyrir "global", þ.e.a.s. type selectorar, reset etc
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: $Default-font-size;
  font-family: 'Open Sans', helvetica, arial, sans-serif;
  color: $Dark-dark-grey;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center
}

a {
  color: $Dark-dark-grey;
}

button {
  background-color: $Dark-dark-grey;
  color: $White;
  border: 1px solid $Black;
  border-radius: 5px;
  padding: 0.5rem;
  word-break: initial;

  transition:
    $Change-color,
    $Change-background-color ;
  &:hover {
    background-color: $White;
    color: $Dark-dark-grey;
  }
  &:active {
    background-color: $Dark-dark-grey;
    color: $White;
    border: 1px solid $Black;
  }
}

h1, h2, h3, h4 {
  font-family: 'Montaga', Georgia, serif;
}

main {
  padding-left: 10px;
  padding-right: 10px;
}
