// Sækja config
@import './config';

// Hér skal nota scss @for til að ítra út klösum fyrir grid
.col {
  padding-left: 10px;
  padding-right: 10px;
  width: 100%;
}

.grid {
  margin: 0 auto;
  max-width: $max-width;
  overflow: hidden;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -10px;
  margin-right: -10px;
}

/* Stór stærð */
@for $i from 1 through 12 {
  .col-#{$i} {
    width: $i*$one-col;
  }
}

/* Medium stærð */
@for $i from 1 through 12 {
  @media (max-width: $medium-width) {
    .col-md-#{$i} {
      width: $i*$one-col;
    }
  }
}

/* Small stærð */
@for $i from 1 through 12 {
  @media (max-width: $small-width) {
    .col-sm-#{$i} {
      width: $i*$one-col;
    }
  }
}

/* Stórt offset */
@for $i from 1 through 3 {
  .offset-col-#{$i} {
    margin-left: $i*$one-col;
  }
}

/* Medium offset */
@for $i from 1 through 3 {
  @media (max-width: $medium-width) {
    .offset-col-md-#{$i} {
      margin-left: $i*$one-col;
    }
  }
}

/* Small offset */
@for $i from 1 through 3 {
  @media (max-width: $small-width) {
    .offset-col-sm-#{$i} {
      margin-left: $i*$one-col;
    }
  }
}
